av==15.1.0
deepdiff==8.6.1
diffusers==0.35.1
dm_tree==0.1.9
draccus==0.10.0
dynamixel_sdk==3.7.31
einops==0.8.1
feetech_servo_sdk==1.0.0
Flask==3.1.2
grpcio==1.73.1
gym_hil==0.1.10
gym_pusht==0.1.5
gymnasium==0.29.1
hidapi==0.14.0.post4
huggingface_hub==0.34.4
imageio==2.37.0
jax==0.7.2
jsonlines==4.0.0
matplotlib==3.10.6
mock_serial==0.0.1
moveit_commander==1.1.16
msgpack_python==0.5.6
numpy==2.3.3
opencv_python==4.11.0.86
opencv_python_headless==4.12.0.88
orbax==0.1.9
packaging==25.0
pandas==2.3.2
Pillow==11.3.0
piper_sdk==0.4.2
placo==0.9.14
protobuf==6.32.1
pyarrow==21.0.0
pygame==2.6.1
pynput==1.8.1
pyrealsense2==2.56.5.9235
pyserial==3.5
pytest==8.4.1
PyYAML==6.0.2
PyYAML==6.0.2
pyzmq==27.1.0
Requests==2.32.5
rerun==1.0.30
Robotic_Arm==1.1.1
Robotic_Arm==1.1.1
rospy==1.17.4
safetensors==0.6.2
scipy==1.16.2
sensor_msgs==1.13.2
skimage==0.0
sshkeyboard==2.3.1
termcolor==3.1.0
torch==2.7.1
torchcodec==0.5
torchvision==0.22.1
tqdm==4.67.1
transformers==4.51.3
tree==0.2.4
typing_extensions==4.15.0
wandb==0.21.4
websockets==15.0.1
